<!-- Logo attempt
================================================== -->
<div class="logo-holder">
  <img src="images/hselogo.png">
</div>

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" >
  <div class="carousel-inner">
    <div class="carousel-caption">
      <h1>Coming Soon!</h1>
      <p class="lead">Leave us your email address & we'll holla when it's done.</p><br>



        <div id="mc_embed_signup">
          <form action="http://originalsinevents.us2.list-manage.com/subscribe/post?u=053a6b1198c7e9afc2de3d6ea&amp;id=976eec6dbe" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <fieldset>
           <input class="input-xlarge" type="text" placeholder="Hop on board...">
              <div class"form-inline">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </fieldset>
          </form>
        </div>
       
          </div>
    <div class="item active">
      <img src="images/mykonos.jpg" alt="">
    </div>
    <div class="item">
      <img src="images/balcony.jpg" alt="">
    </div>
    <div class="item">
      <img src="images/water.jpg" alt="">
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<!-- /.carousel -->

<!-- FOOTER -->
<footer>
  <p class="pull-right">91-93 Buckingham Palace Rd, London, SW1W 0RP.</p>
  <p>&copy; 2013 HOP SKIP ESCAPE LTD &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
