<!-- Logo attempt
================================================== -->
<div class="logo-holder">
  <img src="images/hselogo.png">
</div>

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" >
  <div class="carousel-inner">
    <div class="carousel-caption">
      <h1>COMING SOON!</h1>
      <p class="lead">We're busy doing some 'market research'!</p>
      <a class="btn btn-large btn-primary" href="#">Sign up today</a>
    </div>
    <div class="item active">
      <img src="images/greek1.jpg" alt="">
    </div>
    <div class="item">
      <img src="images/hotel.jpg" alt="">
    </div>
    <div class="item">
      <img src="images/mykonos.jpg" alt="">
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<!-- /.carousel -->

<!-- FOOTER -->
<footer>
  <p class="pull-right">91-93 Buckingham Palace Rd, London, SW1W 0RP.</p>
  <p>&copy; 2013 HOP SKIP ESCAPE LTD &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>

