/* GLOBAL STYLES
  -------------------------------------------------- */
  /* Padding below the footer and lighter body text */

  body {
    padding-bottom: 0px;
    height: 100%;
    width: 100%;
    color: #5a5a5a;
    margin: 0;
    margin-right: 0;
    min-height: 100%;
  }

  h1 { font-family: Lato, Arial, serif; font-weight: 400; 
  }



  /* CUSTOMIZE THE NAVBAR
  -------------------------------------------------- */

  /* Special class on .container surrounding .navbar, used for positioning it into place. */
  .logo-holder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 5%;
    margin-bottom: -90px;
    margin-left: 5%;
    /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  

  /* Carousel base class */
  .carousel {
    margin-bottom: 0px;
  }

  

  .carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
  }

  .carousel .item {
    height: 100%;
  }
  .carousel img {
    position: relative;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
   
  }

  .carousel-caption {
    position: absolute;
    max-width: 400px;
    padding: 35px 20px;
    margin-top: 35%;
    margin-left: 85px;
    margin-bottom: 45%;
    z-index: 20;
  }

  .carousel-caption h1,
  .carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 4px 4px rgba(0,0,0,.4);
  }
  .carousel-caption .btn {
    margin-top: 10px;
  }


/* Footer
  -------------------------------------------------- */
.footer {
padding: -90;
}
